<div class="mb-3">
  <label for="title" class="form-label">Title</label>
  <input
    type="text"
    class="form-control"
    id="title"
    name="title"
    placeholder="Enter your title here"
    maxlength="100"
    <% if (post && post.title) { %>
      value="<%= post.title %>"
    <% } %>
  />
</div>
<div class="mb-3">
  <label for="body" class="form-label">Body</label>
  <textarea class="form-control" id="body" rows="3" name="body"><% if (post && post.body) { %><%= post.body %><% } %></textarea>
</div>
